
body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	background: #EAF1F7;
	 text-align: center; 
	/* width: 100%; */
}

#bodycontainer {
	margin: 0 auto;
	padding: 0;
	width: 1348px;
	height: 900px;
	border: 0;
	background-color:#CCC;
}
/*miniuii的只读文本样式*/
.asLabel .mini-textbox-border, .asLabel .mini-textbox-input, .asLabel .mini-buttonedit-border,
	.asLabel .mini-buttonedit-input, .asLabel .mini-textboxlist-border {
	/* border: 0; */
	  border-color: transparent;
	background: none;
	cursor: default;
}

.asLabel .mini-buttonedit-button, .asLabel .mini-textboxlist-close {
	display: none;
}

.asLabel .mini-textboxlist-item {
	padding-right: 8px;
}
/*miniui的只读文本样式--结束*/

@charset "utf-8"; 
.header{height:72px;width:100%;background-color: #3084bf;}
.nav-item a{text-decoration:blink} 
.sl-shadow{-moz-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;-webkit-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;-ms-filter:"progid:DXImageTransform.Microsoft.Glow(color=#a0a0a0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2)";*filter:progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2)} 
.nav{width:100%;height:100%;float:left;position:relative;z-index:999;margin:0;padding:0;}
.nav-item{float:left;height:50px;position:relative;  list-style-type: none;padding-top: 22px;margin-right: 2px;}
.nav-item .nav-item-link{height:100%;display:block;overflow:hidden;  margin-right: 0px;}
.nav-item .nav-item-link,.nav-item .nav-item-link:hover,.nav-item .nav-item-link-active{background-repeat:no-repeat}
.nav-item-sub{position:absolute;padding:12px 3px;background:#f5f5f5;top:72px;}
.nav-item-table{background:none repeat scroll 0 0 #f5f5f5;white-space:nowrap;text-align: left;}
.nav-item-table td,.nav-item-table th{border-right:1px solid #e7e7e7;padding:3px 16px;white-space:nowrap}
.nav-item-table th{font-weight:700;padding:0 14px 3px 17px;border-collapse:separate;white-space:nowrap}
.nav-item-table th.last,.nav-item-table td.last{border-right:0}
.nav-item-table a{color:#400040;display:block;padding-left:3px;position:relative;vertical-align:middle}
.nav-item-table a:hover{background-color:#89bfe5;border-radius:2px 2px 2px 2px;color:#fff;text-decoration:none;vertical-align:middle}
.nav-item .nav-item-sub{display:none}
.nav-item .angle{position:absolute;display:none;width:15px;height:15px;font-size:0;top:35px;*top:36px;_top:36px;top:37px\0;right:65px}
.nav-item:hover .nav-item-sub,.nav-item-hover .nav-item-sub{display:block}
.nav-item:hover .angle,.nav-item-hover .angle{display:block}

/*
DEMO 4
*/
.a_demo_four {
	display:block;
	width: 80px;
	background-color: #3bb3e0;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 10px 20px;
	background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%,
		rgb(62, 184, 229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44, 160, 202) 0%,
		rgb(62, 184, 229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44, 160, 202) 0%,
		rgb(62, 184, 229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44, 160, 202) 0%,
		rgb(62, 184, 229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44, 160, 202) 0%,
		rgb(62, 184, 229) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44,
		160, 202)), color-stop(1, rgb(62, 184, 229)));
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785,
		0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px
		10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px
		10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px
		5px #999;
}

.a_demo_four:active {
	top: 3px;
	background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62,
		184, 229)), color-stop(1, rgb(44, 160, 202)));
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785,
		0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px
		5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px
		5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px
		3px #999;
}
.a_demo_four_selected {
	top: 3px;
	display:block;
	width: 80px;
	background-color: #3bb3e0;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%,
		rgb(44, 160, 202) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62,
		184, 229)), color-stop(1, rgb(44, 160, 202)));
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785,
		0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px
		5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px
		5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px
		3px #999;
}
.a_demo_four_selected::before {
	top: 50%;
	margin-top: -12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px
		6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px
		3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px
		3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px
		#1a80a6;
}

.a_demo_four::before {
	background-color: #2591b4;
	/* background-image:url(../images/right_arrow.png); */
	background-repeat: no-repeat;
	background-position: center center;
	content: "";
	/* 	width:20px;
	height:20px; */
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
	top: 50%;
	margin-top: -12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px
		6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px
		3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px
		3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px
		#1a80a6;
}

/* Default button styling - this applies to all anchors with the .button class */
.button {
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 4px 12px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
}
.button:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

/* The styles for the grey button */
.grey {
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;
}
.grey:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed;
}
.grey:active {border: 1px solid #666;}

/*TabBar 左侧浮标*/
.nav-slide-button{
    float: left;
    height: 76px;
}
.header .navbar-toggle {
  background-color: #75B3D7;
  margin: 5px 0 4px 6px;
  border: 1px solid transparent;
  width: 40px;
  height: 42px;
  line-height: 0;
  padding: 0 0 1px;
  display:block;
  text-align: center;
  position: relative;
  top: 20px;
}
.header .navbar-toggle.display {
  background-color: #75B3D7;
  margin: 5px 0 4px 6px;
  border: 1px solid transparent;
  width: 40px;
  height: 42px;
  line-height: 0;
  padding: 0 0 1px;
  display:block;
  text-align: center;
}
.navbar-toggle .icon-bar{
  background-color: #FFF;
  border-radius: 0;
  width: 24px;
  height: 2px;
  margin-top:4px;
  box-sizing: border-box;
  margin-left: 7px;
  display: block;
}
.navbar-toggle .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.header .logostyle{
  background-image: url('/smartMeter-web/images/dfsoft-logo2.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 70px;
  width: 120px;
  background-size: contain;
  background-position: bottom;
}
@media screen and (max-width: 1366px) {
.nav-slide-button{
  display: block;
}
}
@media screen and (min-width: 1366px) {
.nav-slide-button{
  display: none;
}
}
